Value of 0 or 1 not accepted for hash iterations NSEC3 DNSSEC

My domains are secured with DNSSEC. 

The following tool says it is working:

https://dnsviz.net/d/eloi.at/dnssec/?rr=all&a=all&ds=all&doe=on&ta=.&tk=

but there is always an error related to "NSEC3 proving non-existence"

Error: An iterations count of 0 must be used in NSEC3 records to alleviate computational burdens. See RFC 9276, Sec. 3.1.

The iterartions count virtualmin uses seems to be 10. 

if you edit it to 0 or 1 it gives this error:

`"Failed to save record : Missing or non-numeric number of iterations"`

surely a number of 1 should be regarded as numeric?

"Note that [RFC5155] describes the Iterations field as follows

   |  The Iterations field defines the number of additional times the
   |  hash function has been performed.

   This means that an NSEC3 record with an Iterations field of 0
   actually requires one hash iteration."

I cannot try with 0 or 1. No values seem to be accepted.

I think virtualmin should create it with the prefered values by default but also make it so that one can edit the value. Or is this something for webmin BIND module to fix?

https://kb.isc.org/docs/nsec3-hash-iterations-should-be-minimised

> Updated best practice guidance for NSEC3 is to select an iteration value of 0 (in other words, use no additional hash iterations).

Thank you. 

Can you post a screenshot showing where in Webmin you are editing the NSEC3 record? Normally it's generated by BIND tools and not directly editable..


Servers>BIND DNS Server> then choose an existing Zone> then DNSSEC parameters> then edit the parameter with 10 hash iterations. It also does not let you create new ones. 

[Screenshot 2024-09-05 140134](https://github.com/user-attachments/assets/e1cc31b8-7533-43b2-9bb2-8d8d0bae33e7)
![Screenshot 2024-09-05 140218](https://github.com/user-attachments/assets/5701a1fb-2adc-4e16-8a21-4db6241b5efc)
![Screenshot 2024-09-05 140432](https://github.com/user-attachments/assets/69f02e8a-82fa-445e-916e-9ace00c5a9b6)



So I tested this, and was unable to re-produce the issue ... I could set the number of iterations to "0" just fine.

The code that checks this field is here : https://github.com/webmin/webmin/blob/master/bind8/save_record.cgi#L451 . And it just looks for numbers, so 0 or 1 should work fine.


Doesnt accept any values here.  BIND version 9.16.23,  Alma 9.4

ill leave it for now. 

At the moment the standard to invalidate is 150 iterations so with 10 it is stil OK but it should be 0. 

Can you post a screenshot of the page that you're entering the "1" on?


![Screenshot 2024-09-06 020311](https://github.com/user-attachments/assets/9091c3e8-053b-463a-97ea-9182c624e2ca)



So I just tried the same thing, and it worked fine. Are you sure you're on the latest version of Webmin?


Yes 2.202

I think I found a workaround:

manually edit the records in virtualmin:

change: 

`example.com	0	IN	NSEC3PARAM	1 0 10 -`

to:

`example.com	0	IN	NSEC3PARAM	1 0 0 -`

It seems to automagically update all entries for the NSEC3 RRSIG also. 

Now the error is gone: 

https://dnsviz.net/d/eloi.at/dnssec/ (may need to click to update cache). 

Oh I think I see the real issue now - Webmin was showing an error about the hash iterations field, but really it was the salt field that it considers invalid. We expect a hex string, but you've just enter `-`


Thank you for your dev work. 

> Most users of NSEC3 publish static salt values that never change. This provides no added security benefit (because the complete fully qualified domain name is already unique). If no rotation is planned, operators are encouraged to forgo the salt entirely by using a zero-length salt value instead (represented as a "-" in the presentation format).

> A dash (salt) can be used to indicate that no salt is to be used when generating the NSEC3 chain.

So the "-" seems to be a real value to indicate no salt. This is the standard already. 

The dutch also seem to have a good explanation: 

![Screenshot 2024-09-07 034035](https://github.com/user-attachments/assets/68b569a8-468d-4321-b411-e8a96ffe0f48)


Thanks! I'll allow the "no salt" option in the next Webmin release.


I would like to set `NSEC3PARAM	1 0 0 -` by default instead of `NSEC3PARAM	1 0 10 -` - which solves the problems reported by dnsviz.net and I am not sure if 10 iterations are really necessary as a default value. Where can I set `NSEC3PARAM	1 0 0 -` as default for all new or updated DNSSEC zones?

> which solves the problems reported by dnsviz.net and I am not sure if 10 iterations are really necessary as a default value. Where can I set `NSEC3PARAM 1 0 0 -` as default for all new or updated DNSSEC zones?

`0` is already the default value, not `10`, unless you define a custom `dnssec-policy` somewhere in BIND configs to adjust it.

By the way, you can edit DNSSEC parameters on the “Servers ⇾ BIND DNS Server: zone-name / DNSSEC Parameters” page.

@iliajie Thank you very much for your swift reply. I did not configure any customer `dnssec-policy`. I am using the Virtualmin defaults. I know that I can adjust the values, which I did. Unfortunately, whenever I enable DNSSEC on a Zone, it's setting the values to `NSEC3PARAM 1 0 10 -` instead of `NSEC3PARAM 1 0 0 -` and I cannot find a way to change that. My server is older (10+ years - always updated). I could imagine that this default was introduced at one point and my server is yet lacking the definition of that default value? Do you have any hint on where I could fix that? Of course, I can fix this every time manually and re-sign the zone. But it would be convenient if it worked properly without any manual intervention.

> I cannot find a way to change that.

Well, I’d like Jamie to comment whether this is really possible to do it via Webmin.

But, nevertheless, you can define a custom DNSSEC policy in the options block of your BIND config file, e.g.:

```yml
options {
    ...
    dnssec-policy "custom-nsec3";
    ...
};

dnssec-policy "custom-nsec3" {
    nsec3param 1 0 0 -;
};
```

I think the solution above of setting `dnssec-policy` is the only way to do this, as Virtualmin and Webmin don't generate the `NSEC3PARAM` record. Instead we just rely on BIND's DNSSEC tools to add it, and they just create the appropriate records.


@iliajie @jcameron Thank you both. I digged now deeper into this. I don't want to offend anybody but I think you are wrong. First, the settings you were providing are causing errors in the configuration. According to https://bind9.readthedocs.io/en/v9.18.14/chapter5.html the correct parameter set is:
```
dnssec-policy "custom-nsec3" {
    nsec3param iterations 0 optout no salt-length 0;
};
```
Second the dnssec-policy parameter has to be added to each zone invididually and not just globally in the options{} section. Your code is causing this error:

`/etc/bind/named.conf.options:26: 'inline-signing yes;' must also be configured explicitly for zones using dnssec-policy without a configured 'allow-update' or 'update-policy'. See https://kb.isc.org/docs/dnssec-policy-requires-dynamic-dns-or-inline-signing`

I added the parameters correctly within Binds named.conf.local for the newly created zone by putting them into a separate file and setting a `include "/etc/bind/my-zone-template.conf"` in the virtualmin server template, so that it's automatically applied upon creating a new domain. After creating a new domain, the `named.conf.local` file was propery set up:
```
zone "test.tld" {
	type master;
	file "/etc/bind/test.tld.hosts";
	inline-signing yes;
	dnssec-policy custom-nsec3;
};
```
Nevertheless, the DNS-Zone file contained this entry:
`test.tld.	0	IN	NSEC3PARAM	1 0 10 -`
instead of
`test.tld.	0	IN	NSEC3PARAM	1 0 0 -`

According to https://dnsinstitute.com/documentation/dnssec-guide/ch07s03.html the zone is being signed with a command like this:
`rndc signing -nsec3param 1 0 10 - test.tld`

So, Virtualmin somewhere is executing the `rndc` command with an `nsec3param` of `1 0 10 -` instead of `1 0 0 -`. 

I did not find yet out where this happens. I think this is wrong though or there should be a config setting somewhere to define those values. I also think that the suggest changes on the Bind configuration are completely unnecessary and do not change the behaviour at all. The problem is not the zone configuration but the way the zone is signed. I think the zone settings can remain very simple.

I started analyzing this code: https://github.com/virtualmin/virtualmin-gpl/blob/539917938b285f76fdc1c80437e1cdb79de37337/feature-dns.pl#L5159 but I did not find any hint yet on the signing of the zone or where the behaviour could be changed. The only thing I want is that simple change from `10` to `0` as a default to make things work properly.

> I would like to set `NSEC3PARAM 1 0 0 -` by default instead of `NSEC3PARAM 1 0 10 `

I think I’d like you to explain why you want to do this first. Wouldn’t it make zone walking relatively easier?

> I did not find any hint yet on the signing of the zone or where the behaviour could be changed.

Perhaps it's because neither Webmin nor Virtualmin sets those values? What is your OS and version?

To clarify, the default value set in my case on Ubuntu 24.04 is `NSEC3PARAM 1 0 0`.


@iliajie Thanks again for your time. I very much appreciate it!

> Wouldn’t it make zone walking relatively easier?

I am no expert but yes, I suppose so. But why then does DNSviz not work with `NSEC3PARAM 1 0 10 -`?

1. `NSEC3PARAM 1 0 10 -` : https://dnsviz.net/d/lexio.ch/Z5zcLA/dnssec/ <-- ERRORS
2. `NSEC3PARAM 1 0 0 -` : https://dnsviz.net/d/lexio.ch/Z6B-6A/dnssec/ <-- 'SAULGOOD

I would be fine even with  `NSEC3PARAM 1 0 10 -` if I knew that I would not have to expect any issues.

```
host: 
    module root: /usr/share/webmin/virtual-server
    os: Debian Linux 11
    root: /usr/share/webmin
    theme version: 21.20.7
    virtualmin version: 7.30.4.pro-1
    webmin version: 2.202
```

Changing the DNS settings did not change the value in the zone after Virtualmin created and signed it (or whichever service however signed it) ;)

> But why then does DNSviz not work with `NSEC3PARAM 1 0 10 -`?

😄 It seems that 

> > Wouldn’t it make zone walking relatively easier?
> 
> I am no expert but yes, I suppose so. But why then does DNSviz not work with `NSEC3PARAM 1 0 10 -`?
> 
> 1. `NSEC3PARAM 1 0 10 -` : https://dnsviz.net/d/lexio.ch/Z5zcLA/dnssec/ <-- ERRORS
> 2. `NSEC3PARAM 1 0 0 -` : https://dnsviz.net/d/lexio.ch/Z6B-6A/dnssec/ <-- 'SAULGOOD
> 
> I would be fine even with `NSEC3PARAM 1 0 10 -` if I knew that I would not have to expect any issues.
> 
> ```
> 
> ```

I don't think it's relevant. Perhaps there is an error in that other configuration. There are various online tools available to test DNSSEC, try those too.

> os: Debian Linux 11

All I can say is that I too observe this behavior (`NSEC3PARAM 1 0 10`) on my Debian 11 system with BIND 9.16.50, but on Debian 12 with BIND 9.18.33, it doesn't occur, and the record is created as `NSEC3PARAM 1 0 0`.


@iliajie alright. Strange. I was irritated by the errors shown on DNSViz. If you say that it's OK to show those errors... alright. Verisign Labs does not show any errors. I am also running 9.16.50. Thanks a lot for your valued insights. Strange that it works differently. As you say yourself, 10 iterations could be considered as "safer". Thus I wonder why it's 10 on older version and 0 on the newer. Well anywho, thanks again for your time and assistance. Maybe this will be of help for anyone else at some time who gets confused about the same issue.

You're welcome!