Runaway collectinfo.pl looping on named config check

One of our servers has a runaway collectinfo.pl. strace shows infinite this:

```
stat("/etc/named.conf", {st_mode=S_IFREG|0640, st_size=1551, ...}) = 0
stat("/etc/webmin/bind8/zone-names", {st_mode=S_IFREG|0644, st_size=530, ...}) = 0
stat("/etc/named.rfc1912.zones", {st_mode=S_IFREG|0640, st_size=931, ...}) = 0
stat("/etc/named.conf", {st_mode=S_IFREG|0640, st_size=1551, ...}) = 0
stat("/etc/webmin/bind8/zone-names", {st_mode=S_IFREG|0644, st_size=530, ...}) = 0
stat("/etc/named.rfc1912.zones", {st_mode=S_IFREG|0640, st_size=931, ...}) = 0
stat("/etc/named.conf", {st_mode=S_IFREG|0640, st_size=1551, ...}) = 0
stat("/etc/webmin/bind8/zone-names", {st_mode=S_IFREG|0644, st_size=530, ...}) = 0
stat("/etc/named.rfc1912.zones", {st_mode=S_IFREG|0640, st_size=931, ...}) = 0
```

Both files exist. I'm having trouble locating where this comes from...maybe the build_spf_dmarc_caches function call?


Is there perhaps an include loop in /etc/named.conf and /etc/named.rfc1912.zones ?


Not that I can see. named.conf includes named.rfc1912.zones, but named.rfc1912.zones doesn't include named.conf.

Here's the contents of each:

```
//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
	listen-on port 53 {
		any;
		};
	listen-on-v6 port 53 {
		any;
		};
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";

	/* 
	 - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
	 - If you are building a RECURSIVE (caching) DNS server, you need to enable 
	   recursion. 
	 - If your recursive DNS server has a public IP address, you MUST enable access 
	   control to limit queries to your legitimate users. Failing to do so will
	   cause your server to become part of large scale DNS amplification 
	   attacks. Implementing BCP38 within your network would greatly
	   reduce such attack surface 
	*/
	recursion yes;

	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside auto;

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
```

```
// named.rfc1912.zones:
//
// Provided by Red Hat caching-nameserver package 
//
// ISC BIND named zone configuration for zones recommended by
// RFC 1912 section 4.1 : localhost TLDs and address zones
// and http://www.ietf.org/internet-drafts/draft-ietf-dnsop-default-local-zones-02.txt
// (c)2007 R W Franks
// 
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

zone "localhost.localdomain" IN {
	type master;
	file "named.localhost";
	allow-update { none; };
};

zone "localhost" IN {
	type master;
	file "named.localhost";
	allow-update { none; };
};

zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa" IN {
	type master;
	file "named.loopback";
	allow-update { none; };
};

zone "1.0.0.127.in-addr.arpa" IN {
	type master;
	file "named.loopback";
	allow-update { none; };
};

zone "0.in-addr.arpa" IN {
	type master;
	file "named.empty";
	allow-update { none; };
};
```


In that case, the cause may be un-necessary re-reading of the BIND config. I can take a look, given access to a system on which this is happening.


@swelljoe did this one ever get fixed?

p.s. Got bored so finding old issues that should be closed.

Pretty sure I fixed this one by preventing self-referential includes..
